@cellMargin: 10px;
@cellHeight: 60px;

div.main-content {
  margin: 0 5px;

  button { width: 100%; height: @cellHeight; margin: @cellMargin 0; font-size: 20px; }
  #course { height: @cellHeight; line-height: @cellHeight; margin: @cellMargin 0; font-size: 40px; }
}

